select{
	display: block;
    width: 100%;
    border: 1px solid #983176;
    outline: none;
    background: #f9f9ff;
    height: 40px;
}
textarea{
	border: 1px solid #983176;
}
input[type="file"]{
	border: 0;
}
hr{
	background: #bf3a74;
    border-width: 2px;
}
.p-readable p{
	line-height: 1.929;
    margin-bottom: 30px;
}
.list-readable ul li{
	display: inline-block;
    margin-bottom: 15px;
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
    color: #7f7f7f;
    padding-left: 33px;
}
.list-readable ul li span{
	margin-right: 17px;
    color: #970e76;
    font-size: 20px;
    position: absolute;
    left: 14px;
}
.completed-projects-details{
	padding: 10px;
    background: #983176;
}
.completed-projects-details h3{
	color: #fff;
}
.completed-projects-details label{
	display: block;
    color: #fff;
}
.tvh-home-call-button{
    border: 2px solid #9a2c6f;
    padding: 10px 15px !important;
    border-radius: 40px;
}
.tvh-home-call-button i{
    transform: rotate(90deg);
    margin-right: 10px;
    font-size: 20px;
    vertical-align: middle;
}
.tvh-home-call-button span{
    display: inline;
    color: #fff !important;
}