$color-default: #95c425;
$text-color: #363636;
$color-black: #000000;
$color-white: #fff;
$color-grey-light: rgba(0,0,0,.06);
$font-varela: 'Varela Round', sans-serif;
$tr: .3s ease;
$bs-big: 0 .1rem 2rem rgba(0,0,0,.15);
$bs-small: 0 0.2rem .7rem 0 rgba(0,0,0, .08);
$br-small: .1rem;
$br-big: .3rem;